* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow: hidden;
}

#popup {
    position: absolute;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100vh;
}

#popup * {
    z-index: inherit;
    border: none;
}

#v-header {
    height: 100vh;
    display: flex;
    color: #fff;
}

.background {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle, #2e2e2e, #222222, #1a1a1a, #171717, #151515, #121212, #111111, #0e0e0e);

}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

#header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-content {
    z-index: 2;
    position: absolute;
    right: 170px; /* right tune */
    top: 24%; /* top tune */
}

.bosmatlogo {
    transform: scale(0.3);
    z-index: 2;
    position: absolute;
    top: -240px;
    right: -125px;
}

.header-content h1 {
    font-size: 58px;
    margin-bottom: 0;
    text-align: right;
}

.header-content p {
    font-size: 26px;
    text-shadow:
    -0.3px -0.3px 0 #000,
    0.2px -0.3px 0 #000,
    -0.3px 0.3px 0 #000,
    0.3px 0.3px 0 #000;  
    padding-bottom: 2rem;
    text-align: right;
}

#btnReadMore {
    background: #202020;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 3.5rem;
    text-decoration: none;
    border-radius: 100px;
    float: right;
    transition: transform .25s ease;
    /* transition: padding 0.2s, font-size 0.2s; */
    cursor: pointer;
}

#btnReadMore:hover {
    /*padding: 0.8rem 3.8rem;
    font-size: 1.5rem ;*/
    transform: scale(1.25);
}

img.bosmat {
    z-index: 2;
    grid: initial;
    margin: calc((100vh - 346px) / 2) calc((100vw - 773px) / 2);
    /* top: calc(50vh - 346px / 2 - 25px);
    right: calc(50vw - 773px / 2);
    left: calc(50vw - 773px / 2); */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    transform: scale(0.75, 0.75);
    transition: transform .25s ease;
}

.bosmat:hover {
    transform: scale(1);
}

/*img.straight_finger {
    z-index: 2;
    position: absolute;
    top: 445px;
    left: 375px; 
}*/

/*img.slant_finger {
    z-index: 2;
    position: absolute;
    top: 432px;
    left: 567px;
    opacity: 0.8;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: transform .25s ease;
}*/


#pages {
    position: absolute;
    display: block;
    margin: 0 -40px;
    top: 5%;
    width: 100%;
    z-index: 1;
}

/* where are the buttons g*/

#pages button {
    text-decoration: none;
    color: white;
    /* margin-right: 25px; */
    vertical-align: middle;
}

.btn {
    border: none;
    background: none;
    padding: 10px 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; /* the font only affects the sign up button why */
    cursor: pointer;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    top: 35px;
    left: 25px; /* nah dude the video so disturbing wait let me try to slow it */
}

.btn4 {
    border: white 2px solid;
    border-radius: 100px;
    padding: 0.6em 1.75em;
}

.btn:not(.btn4) {
    background-color: none;
    overflow: visible;
    color: white;
    font-weight: 500;
    background: transparent;
    border: none;
    margin: 0 auto 0;
    display: inline-block;
    font-size: 20px;
    outline: none;
    position: relative;
    transition: 0.3s;
    /* padding: 20px; */
}


.btn:not(.btn4):before {
    content: '';
    border-bottom: 4px solid white;
    border-radius: 20px;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
}

.btn:not(.btn4) ul {
    list-style-type: none;
    position: relative;
    border-radius: 15px;
    /* visibility: hidden; */
    height: 4px;
    border-radius: 4px;
    width: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    right: 50%;
    left: 50%;
    text-align: center;
    font-size: 18px;
    transition: right 0.3s, left 0.3s, width 0.3s;
}

.btn:not(.btn4):hover > ul {
    left: 0%;
    right: 0%;
    width: 100%;
}
.btn4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #3498db;
    z-index: -2;
}

.btn4::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    right: 0;
    top: 0;
    background-color: #7700ff4f;
    border-radius: 0 0 50% 50%;
    z-index: -1;
    transition: height 0.5s;
}

.btn4:hover::after {
    height: 125%;
}

/*.bosmat:hover, .slant_finger:hover {
    scale: 125%;
}

*/
/*
.bosmat:hover + .slant_finger {
    top: 422px;
    left: 597px;
}

.slant_finger:hover, .slant_finger:hover + .bosmat {
transform: scale(1.25);
}
*/


.section {
    padding: 20px 0;
    height: 100vh;
    width: 100%;
    font-size: 24px;
}

#sectionB {
    background: #333;
    color: #fff;
}

#sectionC {
    background: rgb(80, 147, 235);
    color: #fff;
}

.videoInsert {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}


@media(max-width:960px){
    .container{
      padding-right: 3rem;
      padding-left: 3rem;
    }
}