html {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
}

div#wrapper {
    z-index: 6;
    position: fixed;
    background-image: linear-gradient(135deg, #4f5066 14%, #282a36 65%, #13141b 100%);
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
}

div#wrapper img {
    position: relative;
    top: calc(50% - 346px / 2);
    left: calc(50% - 773px / 2);
    transform: scale(0.95);
    animation-name: blink;
    animation-play-state: running;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
}

.wrapperfadeout {
    opacity: 0;
    transition: opacity 0.5s 2s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}