<!DOCTYPE haml>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="404.scss">
    </head>
    <body>
        <main class="container">
            <% (1..40).each do |i| %>
              <span class="particle">4</span>
            <% end %>
            <% (1..40).each do |i| %>
              <span class="particle">0</span>
            <% end %>
            <article class="content">
              <p>Damnit stranger,</p>
              <p>You got lost in the <strong>404</strong> galaxy.</p>
              <p>
                <button>Go back to earth.</button>
              </p>
            </article>
          </main>
    </body>
</html>