body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: radial-gradient(circle, #1f1f1f, #1b1b1b, #1a1a1a, #171717, #151515, #121212, #111111, #0e0e0e);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 1920px) {
    /*#container {
        display: flex;
        margin: calc(50vh - 250px) auto 0 auto;
        padding: 0 100px;
        align-items: center;
    }
    
    .card > h1 {
        position: absolute;
        text-decoration: underline;
        right: 0;
        left: 0;
        margin-top: 20%;
        text-align: center;
        z-index: 1;
        text-shadow: 1px 1px 3px black;
        color: white;
    }*/
    /*.card > p {
        z-index: 1;
        width: 100%;
        margin: 336px 20px 0 20px; /* top right bottom left
        direction: rtl;
        color: white;
        text-align: center;
        font-size: 22px;
    }
    
    #H1 {
        background-image: url("mp.jpg");
        background-color: #87ceeb;
        box-shadow: 0 0 4rem #87ceeb30;
        transition: transform 0.6s;
    }
    #H1:hover {
        transform: rotateY(-180deg);
    }
    
    #H1::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        margin: -20px;
        border-radius: 35px;
        background-color: #87ceeb4f;
    }
    
    #H2 {
        background-image: url("mp2.jpg");
        background-color: #ffa53d;
        box-shadow: 0 0 4rem #ffa53d30;
    }
    #H2::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        margin: -20px;
        border-radius: 35px;
        background-color: #ffa53d4f;
    }
    
    #H3 {
        background-image: url("mp3.png");
        background-color: #a7ff5f;
        box-shadow: 0 0 4rem #a7ff5f30;
    }
    
    #H3::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        margin: -20px;
        border-radius: 35px;
        background-color: #6ca83a4f;
    }*/
}

@media screen and (max-width: 1536px) {
    #maincontainer {
        position: relative;
        display: flex;
        margin: calc(50vh - 250px / 1.25) auto 0 auto;
        padding: 0 100px;
        align-items: center;
    }

    .container {
        position: relative;
        width: calc(426px / 1.25);
        height: calc(600px / 1.25);
        perspective: 1000px;
    }
    
    .card {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 35px;
        cursor: default;
        transform-style: preserve-3d;
        transition: transform 0.8s ease;
    }

    .card:hover {
        transform: rotateY(180deg);
    }

    .cardfront {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        padding: inherit;
        backface-visibility: hidden;
        background-color: #80ceeb;
        color: white;
    }

    .cardback {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        padding: inherit;
        backface-visibility: hidden;
        background-color: white;
        color: black;
        transform: rotateY(180deg);
    }
    
    .cardfront > h1 {
        position: absolute;
        text-decoration: underline;
        right: 0;
        left: 0;
        margin-top: 20%;
        text-align: center;
        z-index: 1;
        text-shadow: 1px 1px 3px black;
        color: white;
    }
    .cardfront > p {
        position: relative;
        z-index: 1;
        width: 100%;
        margin-top: calc(326px / 1.25); /* top right bottom left */
        direction: rtl;
        color: white;
        text-align: center;
        font-size: 22px;
    }
    
    #H1 {
        background-image: url("mp.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #87ceeb;
        box-shadow: 0 0 4rem #87ceeb30;
    }
    
    #H1::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: #87ceeb4f;
    }
    
    #H2 {
        background-image: url("mp2.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #ffa53d;
        box-shadow: 0 0 4rem #ffa53d30;
    }
    #H2::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: #ffa53d4f;
    }
    
    #H3 {
        background-image: url("mp3.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #a7ff5f;
        box-shadow: 0 0 4rem #a7ff5f30;
    }
    
    #H3::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: #6ca83a4f;
    }
}